.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

a{
  color: white;
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: center;
}

.manage-button{
  background-color: #00C0A3;
  color: white;
}

.dropdown-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#description{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alert-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4B4453;
  border-radius: 20px;
  margin-top: 1rem;
  color: #00C0A3;
}

.alert-message{
  margin-top: 1rem;
  margin-bottom: 1rem;
}