@media screen and (max-width: 900px) {
  mat-toolbar{
    background-color: #4B4453;
    color: white;
    height: 50px;
    width: min-content;
    display: flex;
    align-items: left;
    padding-top: 8px;
  }

  .example-spacer{
    display: none;
  }
  
  .add-container{
    margin-right: 1.5rem;
    display: flex;
    align-items: left;

  }

  mat-toolbar-row{
    max-width: 100vw;
  }

  .brand-name{
    color: #4B4453;
  }

  .logout{
    display: none;
    margin-right: 1.5rem;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  margin-left: -1rem;
  background-color: #4B4453;
  color: white;
  height: 50px;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

mat-toolbar-row{
  max-width: 100vw;
}

.brand-name{
  font-size: 20px;
  font-weight: bold;
}

#add-items{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-style: italic;
}

.add-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4rem;
}

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.panel{
  background-color: black;
  color: white;
}

.active{
  color: black;
  background-color: #00C0A3;
  border-radius: 20px;
  width: 100%;
  border-style: solid;
  border-color: #00C0A3;
  border-width: 5px;
}

