<mat-toolbar>
  <mat-toolbar-row>
    <span class="brand-name"><a href="#">Shopping & Recipe Book</a></span>
    <div class="add-container">
      <span routerLinkActive="active" id="add-items"><a routerLink="/recipes">Recipes</a></span>
      <span routerLinkActive="active" id="add-items" style="margin-left: 2rem;"><a routerLink="/shopping">Shopping
          List</a></span>
    </div>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">Manage<span class="caret"></span></button>
    <mat-menu #menu="matMenu" [class]="'panel'">
      <button mat-menu-item (click)="saveData()">Save Data</button>
      <button mat-menu-item (click)="fetchData()">Fetch Data</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>