.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #4B4453;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.brand-name{
  font-size: 20px;
  font-weight: bold;
}

#add-items{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-style: italic;
}

.add-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15rem;
}

a{
  color: white;
  text-decoration: none;
}

.panel{
  background-color: black;
  color: white;
}

.active{
  color: black;
  background-color: #00C0A3;
  border-radius: 20px;
  width: 100%;
  border-style: solid;
  border-color: #00C0A3;
  border-width: 5px;
}

