<mat-toolbar>
  <mat-toolbar-row>
    <span class="brand-name"><a href="#">Shopping & Recipe Book</a></span>
    <div class="add-container">
      <span class="add-items"><a href="#" (click)="onSelect('recipe')">Recipes</a></span>
      <span class="add-items" style="margin-left: 2rem;"><a href="#" (click)="onSelect('shopping-list')">Shopping
          List</a></span>
    </div>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">Manage<span class="caret"></span></button>
    <mat-menu #menu="matMenu" [class]="'panel'">
      <button mat-menu-item>Save Data</button>
      <button mat-menu-item>Fetch Data</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>