<div class="outer-container"> 
    <div class="col-xs-12 col-md-6 col-md-offset" id="custom-css">
        <form >
            <div class="form-group">
                <label for="email">Email address</label>
                <input class="form-control" id="email" type="email">    
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password">    
            </div>
            <div class="button-group">
                <button class="button glow-button" type="submit">Sign Up!</button>
                <button class="Dbutton glow-Dbutton" type="button">Switch to Login?</button>
            </div>
        </form>
    </div>
</div>
