<div class="row">
  <div class="col-sm-12">
    <form class="form">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" #nameInput>
        </div>
        <div class="col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <button mat-raised-button class="button glow-button" type="button" 
          (click)="onAddItem()">Add</button>
          <button mat-raised-button class="Dbutton glow-Dbutton"  type="button">Delete</button>
          <button mat-raised-button class="Cbutton glow-Cbutton" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
