<div class="row">
  <div class="col-md-12" id="container">
    <h1>Edit Recipe</h1>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="button-group">
          <button type="submit" class="button glow-button" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="Dbutton glow-Dbutton" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div >
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Recipe Name</label>
            <input type="text" class="form-control" id="name" placeholder="Recipe Name" formControlName="name">
            <div class="img-alert" *ngIf="recipeForm.dirty">You need to name it</div>
          </div>
        </div>
      </div>
      <div >
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">IMG URL</label>
            <input type="text" class="form-control" id="imagePath" placeholder="add image path"
              formControlName="imagePath" #imagePath required>
              <div class="img-alert" *ngIf="recipeForm.dirty">You must put a URL</div>
          </div>
        </div>
      </div>
      <div class="image-preview">
        <div>
          <img [src]="imagePath.value" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" class="form-control" id="description" placeholder="description..."
            formControlName="description"></textarea>
            <div class="img-alert" *ngIf="recipeForm.dirty">We need a description</div>
        </div>
      </div>
      <!-- ingredients seciton here -->
      <div class="ing-container">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">

            <div class="col-xs-8" style="margin-left: 1rem">
              <input class="form-control" type="text" id="field" placeholder="Ingredient" formControlName="name">
            </div>

            <div class="col-xs-2" style="margin-left: 1rem">
              <input class="form-control" type="number" id="field" placeholder="Amount" formControlName="amount">
            </div>

            <div class="col-xs-2">
              <button type="button" class="Dbutton glow-Dbutton" (click)="deleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="add-button">
            <div class="col-xs-12">
              <button type="button" class="Cbutton glow-Cbutton" (click)="addIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>